.unit-creator-area {
  display: flex;
  justify-content: space-between;
  width: 550px;
  margin-bottom: 10px;
}

.statistics-area {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-top: 10px;

  app-statistics-log {
    width: 600px;
  }
}
