<div class='field'>Block avarage: <div>{{unit?.blockCount}}</div></div>
<div class='field'>Armor protection avarage: <div>{{unit?.protectionCount}}</div></div>
<div class='field'>Parry avarage: <div>{{unit?.parryCount}}</div></div>
<div class='field'>Hit avarage: <div>{{unit?.hitCount}}</div></div>
<div class='field'>Crictical hit avarage: <div>{{unit?.cricticalHitCount}}</div></div>
<div class='field'>Broken weapon percentage: <div>{{unit?.weaponBroken}}</div></div>
<div class='field'>Broken shield percentage: <div>{{unit?.shieldBroken}}</div></div>
<div class='field'>Win percentage: <div>{{unit?.win}}</div></div>
